<div class='navcontainer'>
  <div class='sitenav'>
    <%= link_to 'GameDB', root_path, class: current_page?(root_path)? "active":"" %>
    <%= link_to 'About', about_path, class: current_page?(about_path)? "active":"" %>
  </div>
</div>