<h1>Welcome to GameDB</h1>
<p>Cultivate your collection of games, across multiple platforms with ease!</p>
<p>Our database will help you curate and share your own games library with friends across multiple platforms, and we look forward to helping you and your friends share what games you're playing and how much you've done in them with ease.</p>